$font-family-monospace:   "Roboto Mono", "Lucida Console", Monaco, monospace!default;

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono";
@import "ng-terminal";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

html{
  font-family: $font-family-monospace;
  margin:0;
  padding:0;
  height:100%;
}

body{
  background-image: url('../images/background.gif');
  margin:0;
  padding:0;
  min-height:100%;
  position:relative;
}

pre {
  color: #C7FF47;
}

.pointer{
  cursor: pointer;
}

.center-text{
  text-align: center;
}

.code{
  font-size: 24px;

  a{
    color: #6BEBFF;

    &:hover,
    &:active,
    &:link,
    &.focus{
      color: #6BEBFF;
    }
  }

  &.comment{
    color: #808080;
  }
}

header{
  margin-top: 100px;
  margin-bottom: 150px;
}

.schedule{
  .code{
    font-size: 32px;
  }
}

.white{
  color: white;
}

.limegreen{
  color: #C7FF47;
}

.blue{
  color: #6BEBFF;
}

.yellow{
  color: #FFEE82;
}

.red{
  color: #ff2a00;
}

body {
  padding: 0;
}

.console{
  width: 100vw;
  height: calc(100vh - 350px)!important;
  position: fixed;
  top: 350px;
  left: 0;
  background: #000;
  border-top: 2px #5a5a5a solid;

  .terminal{
    width: calc(100vw - 36%);
    height: 90%;
    margin-left: 18%;
  }

  .terminal-viewport::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #000;
  }

  .terminal-viewport::-webkit-scrollbar
  {
    width: 6px;
    background-color: #000;
  }

  .terminal-viewport::-webkit-scrollbar-thumb
  {
    background-color: #C7FF47;
  }
}

footer{
  text-align: center;
  a, a:link, a:active, a:focus, a:visited{
    font-size: 10px;
    color: #808080;
  }

  position:absolute!important;
  bottom:0!important;
  width:100%;
  height: 25px;
}

.breadcrumb{

  .border-bottom{
    border-bottom: 1px #5a5a5a solid;

    &.left{
      float: left;
      width: 10%
    }

    &.right{
      float: right;
      width: 40%;
    }
  }

  //padding-top: 10px;
  height: 50px;
  background-color: #151515;
  padding: 10px 0 0 0!important;
  display: flex;
  //background-image: url('../images/background.gif');
  //border-bottom: 1px dashed #222;

  .item
  {
    float: left;
    min-width: 210px;
    max-width: 250px;
    color: lightgrey;

    &:hover{
      color: darkgrey;
    }

    &.inactive{
      .tab-body{
        border-top: 1px #5a5a5a solid;
        display: inline-block;
        height: 100%;
        width: 170px;
        background-color: #444444;
      }

      .tab-border{
        &.first:not(.last){
          &.right{
            //display: none;
            background: url('../images/tab-border-left-alt-active.png');
          }

          &.left{
            background: url('../images/tab-border-left-inactive.png');
          }
        }

        &.first.last{
          &.right{
            background: url('../images/tab-border-right-inactive.png');
          }
          &.left{
            background: url('../images/tab-border-left-inactive.png');
          }
        }

        &.last:not(.first){
          &.right{
            background: url('../images/tab-border-right-inactive.png');
          }
          &.left{
            //background: #444;
            display: none;
          }
        }
      }
    }

    &:not(.inactive){
      .tab-body{
        border-top: 1px #5a5a5a solid;
        display: inline-block;
        height: 100%;
        width: 170px;
        background-image: url('../images/background.gif');
      }

      .tab-border{
        &.first:not(.last){
          &.right{
            background: url('../images/tab-border-right-alt-active.png');
          }

          &.left{
            background: url('../images/tab-border-left-active.png');
          }
        }

        &.first.last{
          &.right{
            background: url('../images/tab-border-right-active.png');
          }
          &.left{
            background: url('../images/tab-border-left-active.png');
          }
        }

        &.last:not(.first){
          &.right{
            background: url('../images/tab-border-right-active.png');
          }
          &.left{
            //background: url('../images/background.gif');
            display: none;
          }
        }
      }
    }

    height: 100%;
    font-size: 20px;
    padding: 0!important;
    text-align: center;
    text-decoration: none;

    .tab-body{
      span{
        margin-top: 10px;
        display: inline-block;

        &[disabled="disabled"]{
          text-decoration: none!important;
          cursor: default;
          color: lightgrey!important;
        }
      }
    }

    .btn{
      position: relative;
      top: 10px;
      right: 60px;
    }

    .btn-xs, .btn-group-xs > .btn{
      border-radius: 12px;
      border: none;
      background-color: #333;

      .glyphicon{
        color: #fff;
        margin-left: -1px;
        margin-top: 1px;
      }
    }
  }
  .tab-border{
    height: 40px;
    width: 40px;
    display: inline-block;

    &.right{
      float: right;
    }

    &.left{
      float: left;
    }
  }
}

@media only screen and (max-width: 1700px){
  header{
    margin-bottom: 50px;
    margin-top: 25px;
  }
  .code{
    font-size: 20px;
  }

  .schedule .code{
    font-size: 20px;
  }

  .console{
    height: calc(100vh - 300px)!important;
    top: 300px;
  }
}

@media only screen and (max-width: 1200px){
  .code{
    font-size: 18px;
  }

  .schedule .code{
    font-size: 18px;
  }

  .console{
    top: 250px;
    height: calc(100vh - 250px)!important;
    .terminal{
      width: calc(100vw - 16%);
      margin-left: 8%;
    }
  }
}

@media only screen and (max-width: 1000px){
  .code{
    font-size: 14px;
  }

  .schedule .code{
    font-size: 14px;
  }

  .console{
    top: 200px;
    height: calc(100vh - 200px)!important;
    .terminal{
      width: 100vw;
      margin-left: 0;
    }
  }
}
