$font-family-monospace: "Roboto Mono", "Lucida Console", Monaco, monospace!default;
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono";
@import "ng-terminal";

// ========================= MISC ====================================
pre {
  color: #C7FF47;
}

.pointer{
  cursor: pointer;
}

.center-text{
  text-align: center;
}

.schedule{
  .code{
    font-size: 26px;
  }
}

.clear{
  clear: both;
}

.pre{
  white-space: pre;
}

.center-children{
  text-align: center;
}
.twitter{
  width: 24px;
  height: 24px;
}

.navbar{
  display: none;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  padding-top: 35vh;
  text-align: center;

  &.success{
    h1{
      color: orange;
    }
    h2{
      color: white;
    }
  }

  &.error{
    h1{
      color: red;
    }
    h2{
      color: white;
    }
  }
}

// ========================= /MISC ===================================

// ========================= TYPOGRAPHY ============================

// ========================= TEXT COLORS ============================
.white{
  color: white;
}

.limegreen{
  color: #C7FF47;
}

.blue{
  color: #6BEBFF;
}

.yellow{
  color: #FFEE82;
}

.red{
  color: #ff2a00;
}

.orange{
  color: orange;
}

a{
  &.orange{
    color: orange;
    &.ordina{
      color: orange!important;
    }

    &:hover,
    &:link,
    &:active,
    &:focus{
      color: orange;
    }
  }
}

a:hover.no-hover{
    text-decoration: none;
}

.speaker-header{
  margin-top: 50px;
}

.speaker-img{
  border-radius: 5px;
  height: 128px;
  width: 128px;
  margin-right: 10px;
}

.location{
  width: 100vw;
  height: calc(100vh - 407px);
  position: fixed;
  left: 0;
  filter: grayscale(100%);
}
// ========================= /TEXT COLORS ========================

// ========================= /TYPOGRAPHY ============================

// ========================= MAIN DOCUMENT ===========================
html{
  margin:0;
  padding:0;
  height:100%;
}
// ========================= /MAIN DOCUMENT ==========================

// ========================= BODY ====================================
body{
  font-family: $font-family-monospace;
  background-image: url('../images/background.gif');
  margin:0;
  padding:0;
  min-height:100%;
  position:relative;
}
// ========================= /BODY ==================================

// ========================= HEADER ==============================
header{
  margin-top: 100px;
  margin-bottom: 150px;
}
// ========================= /HEADER =============================

// ========================= CONSOLE =============================
.console{
  width: 100vw;
  min-height: 300px;
  height: calc(100vh - 465px)!important;
  //TODO: test if this works properly in ALL mainstream browsers
  margin-left: calc(-8.3333333333vw - 30px);
  float: left;
  background: #000;
  border-top: 2px #5a5a5a solid;

  // ========================= TERMINAL =============================
  .terminal{
    width: calc(100vw - 36%);
    height: 90%;
    margin-left: 18%;
  }

  .terminal-results{
    margin-left: -15px;
  }

  // ========================= TERMINAL SCROLLBAR ===================
  .terminal-viewport::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #000;
  }

  .terminal-viewport::-webkit-scrollbar
  {
    width: 6px;
    background-color: #000;
  }

  .terminal-viewport::-webkit-scrollbar-thumb
  {
    background-color: #C7FF47;
  }
}
// ========================= /CONSOLE =============================

// ========================= COMMENT SECTION ======================

.comment-block{
  padding: 0;
  list-style: none;
  color: #808080;
  font-size: 24px;
  width: auto;
  display: inline-block;

  a{
    color: #6BEBFF;

    &:hover,
    &:active,
    &:link,
    &.focus{
      color: #6BEBFF;
    }
  }

  li{
    white-space: nowrap;
    letter-spacing: -1px;
    line-height: 1;
    padding: 0;
    //counter-increment: line;
    display: table-row;
  }

  li:nth-child(1):before{
    content: "/**\00a0";
    display: table-cell;
  }

  li:not(:nth-child(1)):not(:last-child):before{
    content: "\00a0*\00a0";
    display: table-cell;
  }

  li:last-child:not(:nth-child(1)):before{
    content: "\00a0*/";
    display: table-cell;
  }

  ul.comment-block li .line:not([first]):before{
    content: '\00a0*\00a0';
  }
}

ul.comment-block li .line:not([first]):before{
  content: '\00a0*\00a0';
  margin-left: -43px;
}

// ========================= /COMMENT SECTION =====================

// ========================= FOOTER ===============================
footer{
  text-align: center;
  a, a:link, a:active, a:focus, a:visited{
    font-size: 10px;
    color: #808080;
  }

  position:absolute!important;
  bottom:0!important;
  width:100%;
  height: 25px;
}
// ========================= /FOOTER ===============================

// ========================= BREADCRUMB ============================
.breadcrumb{
  height: 50px;
  background-color: #151515;
  padding: 10px 0 0 0!important;
  display: flex;

  .item-wrapper{

    width: 100%;
    border-bottom: 1px #5a5a5a solid;

    // ========================= BREADCRUMB ITEM =====================
    /* I don't know who you are.
     * I don't know what you want,
     * but I do have a particular set of skills.
     * Skills I have acquired over a very long career.
     * Skills that make me a nightmare for people like you.
     * Mess with the code below and I will look for you.
     * I will find you and I will kill you.
     * :)
     */

    .item
    {
      float: left;
      min-width: 130px;
      max-width: 250px;
      color: lightgrey;
      height: 100%;
      font-size: 20px;
      padding: 0!important;
      text-align: center;
      text-decoration: none;

      &:hover{
        color: darkgrey;
      }

      &.inactive{
        .tab-body{
          border-top: 1px #5a5a5a solid;
          display: inline-block;
          height: 40px;
          min-width: 90px;
          max-width: 190px;
          background-color: #444444;
        }

        .tab-border{
          &.first:not(.last){
            &.right{
              background: url('../images/tab-border-right-middle.png');
            }

            &.left{
              background: url('../images/tab-border-left-inactive.png');
            }
          }

          &.first.last{
            &.right{
              background: url('../images/tab-border-right-inactive.png');
            }
            &.left{
              background: url('../images/tab-border-left-inactive.png');
            }
          }

          &.last:not(.first){
            &.right{
              background: url('../images/tab-border-right-inactive.png');
            }
            &.left{
              display: none;
            }
          }
          &:not(.last):not(.first){
            &.right{
              background: url('../images/tab-border-right-middle.png');
            }
            &.left{
              display: none;
            }
          }
        }
      }

      &:not(.inactive){
        .tab-body{
          border-top: 1px #5a5a5a solid;
          display: inline-block;
          height: 51px;
          min-width: 110px;
          max-width: 190px;
          background-image: url('../images/background.gif');
        }

        .tab-border{
          &.first:not(.last){
            &.right{
              background: url('../images/tab-border-right-alt-active.png');
            }

            &.left{
              background: url('../images/tab-border-left-active.png');
            }
          }

          &.first.last{
            &.right{
              background: url('../images/tab-border-right-active.png');
            }
            &.left{
              background: url('../images/tab-border-left-active.png');
            }
          }

          &.last:not(.first){
            &.right{
              background: url('../images/tab-border-right-active.png');
            }
            &.left{
              margin-left: -40px;
              background: url('../images/tab-border-left-active.png');
            }
          }

          &:not(.last):not(.first){
            &.right{
              background: url('../images/tab-border-left-alt.png');
            }
            &.left{
              margin-left: -40px;
              background: url('../images/tab-border-left-active.png');
            }
          }
        }
      }

      .tab-body{
        span{
          font-size: 16px;
          margin-top: 7px;
          display: inline-block;

          &[disabled="disabled"]{
            text-decoration: none!important;
            cursor: default;
            color: lightgrey!important;
          }
        }
      }

      .btn{
        position: relative;
        top: 10px;
        right: 60px;
      }

      .btn-xs, .btn-group-xs > .btn{
        border-radius: 12px;
        border: none;
        background-color: #333;

        .glyphicon{
          color: #fff;
          margin-left: -1px;
          margin-top: 1px;
        }
      }
    }
    .tab-border{
      height: 40px;
      width: 40px;
      display: inline-block;

      &.right{
        float: right;
      }

      &.left{
        float: left;
      }
    }
  }
}
// ========================= /BREADCRUMB ============================

// ========================= RESPONSIVE =============================
@media only screen and (max-width: 1700px){
  .location{
    height: calc(100vh - 220px);
  }
  header{
    margin-bottom: 50px;
    margin-top: 25px;
  }
  .code,
  .comment-block{
    font-size: 20px;
  }

  .schedule .code{
    font-size: 20px;
  }

  .console{
    height: calc(100vh - 300px)!important;
    top: 300px;
  }

  ul.comment-block li .line:not([first]):before{
    margin-left: -37px;
  }
}

@media only screen and (max-width: 1200px){
  .breadcrumb{
    display: none;
  }
  .navbar{
    display: block;
  }
  .console{
    margin-left: -30px;
  }
  .code,
  .comment-block{
    font-size: 16px;
  }

  .schedule .code{
    font-size: 18px;
  }

  .console{
    top: 250px;
    height: calc(100vh - 250px)!important;
    .terminal{
      width: calc(100vw - 16%);
      margin-left: 8%;
    }
  }

  ul.comment-block li .line:not([first]):before{
    margin-left: -33px;
  }
}

@media only screen and (max-width: 992px){
  .console{
    margin-left: 0px;
  }
  .code,
  .comment-block{
    font-size: 14px;
  }

  .schedule .code{
    font-size: 14px;
  }

  .console{
    top: 200px;
    height: calc(100vh - 200px)!important;
    .terminal{
      width: 100vw;
      margin-left: 0;
    }
  }

  .no-padding-small{
    padding-left: 2px!important;
    padding-right: 2px!important;
  }

  ul.comment-block li .line:not([first]):before{
    margin-left: -25px;
  }
}

@media only screen and (max-width: 768px) {
  .console{
    margin-left: 0px;
  }
  .code,
  .comment-block{
    font-size: 12px;
  }

  .schedule .code{
    font-size: 12px;
  }

  ul.comment-block li .line:not([first]):before{
    margin-left: -22px;
  }
}
// ========================= /RESPONSIVE ============================
