<header>
  <ul class="comment-block">
    <li><span class="orange">Break-out sessies</span></li>
    <li></li>
  </ul>
</header>

<ul class="comment-block">
  <li><span class="orange">Who needs GUIs? : making the terminal sing.</span></li>
  <li></li>
  <li>Hamza heeft veel coole open source apps gecreëerd</li>
  <li>die allemaal kenmerkende dingen doen; zoals het tekenen</li>
  <li>van 'Mandelbrot fractals', 3D doolhoven en andere</li>
  <li>grafische applicaties. Allemaal in de terminal!</li>
  <li>In deze talk geeft hij je een snelle en gave rondleiding</li>
  <li>door zijn cabinet van code curiositeiten.</li>
  <li></li>
  <li>Spreker: <span class="limegreen">Hamza</span></li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">Reactive streams in practice.</span></li>
  <li></li>
  <li>Het kan moeilijk zijn om de transitie te maken van</li>
  <li>tutorials naar het draaien van reactive streams</li>
  <li>in productie. David toont in deze sessie de oplossingen</li>
  <li>en valkuilen die je tegenkomt wanneer je start met Rx.</li>
  <li>Deze talk zal verder gaan dan</li>
  <li>de basis Reactive stream concepten.</li>
  <li></li>
  <li>Spreker: <span class="limegreen">David</span></li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">Variable Procedural Random Oak.</span></li>
  <li></li>
  <li>Een praatje over het procederen van generatie en hoe</li>
  <li>je de willekeurigheid in bedwang kan houden.</li>
  <li>Het leuke is dat je de HoloLens kan gebruiken om zichtbaar</li>
  <li>te maken wat anders abstract is.</li>
  <li>Hoe ontwikkel je een algoritme van een takje dat groeit</li>
  <li>naar een volwassen boom. De boom maakt allerlei stadia door.</li>
  <li>Hierbij wordt er regelmatig stilgestaan</li>
  <li>bij de code en ontwikkeling ervan.</li>
  <li></li>
  <li>Spreker: <span class="limegreen">Tim</span></li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">Infrastructuur als code.</span></li>
  <li></li>
  <li>In deze sessie laat Eelco Koster, werkzaam als</li>
  <li>Lead Azure consultant bij Ordina, zien hoe met</li>
  <li>ARM een programmeerbare infrastructuur gecreëerd kan worden.</li>
  <li>Het idee van infrastructuur als code gaat over het</li>
  <li>omgaan met systemen waarop software draait alsof ze</li>
  <li>zelf software zijn. Met de komst van</li>
  <li>Azure Resource Manager (ARM) wordt deze techniek</li>
  <li>toegankelijk voor heel veel projecten.</li>
  <li>In deze sessie wordt uitgelegd wat ARM mogelijk maakt</li>
  <li>en hoe je ARM kunt gebruiken om je Azure resources</li>
  <li>te beheren (zowel in de public Cloud als Azure Stack)</li>
  <li>en je DevOps workflow te verbeteren.</li>
  <li></li>
  <li>Spreker: <span class="limegreen">Eelco Koster</span></li>
  <li></li>
</ul>
<hr>

<ul class="comment-block">
  <li><span class="orange">Microsoft is not your enemy.</span></li>
  <li></li>
  <li>Wat beweegt Wouter, een echte Microsoft ontwikkelaar,</li>
  <li>om opeens een Mac te gaan gebruiken,</li>
  <li>Linux te leren en zich te verdiepen in Java?</li>
  <li>Verlaat hij eindelijk het zinkende schip en</li>
  <li>gaat hij wat nuttigs doen met zijn tijd?</li>
  <li>Of zou hier een ander verhaal achter zitten?</li>
  <li>Deze sessie is voor jou als je wilt weten wat de</li>
  <li>nieuwe strategie is van Microsoft en wat dat voor jou</li>
  <li>als ontwikkelaar, ongeacht je achtergrond, betekent.</li>
  <li></li>
  <li>Spreker: <span class="limegreen">Wouter</span></li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">KumuluzEE - developing microservices using <br>Java EE technologies.</span></li>
  <li></li>
  <li>KumuluzEE is een lichtgewicht framework om microservices</li>
  <li>mee te bouwen die gebruik maken van standaard JavaEE</li>
  <li>technologie. Kunnen we gebruikmakend van</li>
  <li>standaard JavaEE technologie op een eenvoudige</li>
  <li>manier microservices maken? Hebben we altijd een</li>
  <li>full fletched JavaEE Applicatie server nodig?</li>
  <li>In deze sessie zal Philippe laten zien hoe we beginnende</li>
  <li>met standaard Java Web Applicatie met een REST service</li>
  <li>gebruikmakend van KumuluzEE een lichtgewicht applicatie</li>
  <li>kunnen maken die we eenvoudig op</li>
  <li>een Docker instantie kunnen zetten.</li>
  <li></li>
  <li>Spreker: <span class="limegreen">Philippe</span></li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">Native script with AngularJS 2.</span></li>
  <li></li>
  <li>NativeScript is een gratis, open-source runtime om</li>
  <li>native apps te bouwen met bekende tools zoals AngularJS2,</li>
  <li>JavaScript/TypeScript, CSS en NPM.</li>
  <li>NativeScript rendert echte native gebruikersinterfaces</li>
  <li>waarmee jij je gebruikers de beste beleving kan bieden.</li>
  <li></li>
  <li>Spreker: <span class="limegreen">Peter</span></li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">Microservices.</span></li>
  <li></li>
  <li>Spreker: <span class="limegreen">Andreas</span></li>
  <li></li>
</ul>
