<header>
  <ul class="comment-block">
    <li><span class="orange">Break-out sessies</span></li>
    <li></li>
  </ul>
</header>

<ul class="comment-block">
  <li><span class="orange">Who needs GUIs? : making the terminal sing.</span></li>
  <li></li>
  <li>Hamza heeft veel coole open source apps gecreëerd</li>
  <li>die allemaal kenmerkende dingen doen; zoals het tekenen</li>
  <li>van 'Mandelbrot fractals', 3D doolhoven en andere grafische applicaties.</li>
  <li>Allemaal in de terminal!</li>
  <li>In deze talk geeft hij je een snelle en gave rondleiding door zijn</li>
  <li>cabinet van code curiositeiten.</li>
  <li></li>
  <li>Spreker: <span class="limegreen">Hamza</span></li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">Reactive streams in practice.</span></li>
  <li></li>
  <li>Het kan moeilijk zijn om de transitie te maken van tutorials</li>
  <li>naar het draaien van reactive streams in productie.</li>
  <li>David toont in deze sessie de oplossingen en valkuilen </li>
  <li>die je tegenkomt wanneer je start met Rx.</li>
  <li>Deze talk zal verder gaan dan de basis Reactive stream concepten</li>
  <li></li>
  <li>Spreker: <span class="limegreen">David</span></li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">Variable Procedural Random Oak.</span></li>
  <li></li>
  <li>Een praatje over het procederen van generatie en hoe je de willekeurigheid</li>
  <li>in bedwang kan houden. Het leuke is dat je de Halo Lens kan gebruiken</li>
  <li>om zichtbaar te maken wat anders abstract is.</li>
  <li>Hoe ontwikkel je een algoritme van een takje dat groeit naar een volwassen boom.</li>
  <li>De boom maakt allerlei stadia door.</li>
  <li>Hierbij wordt er regelmatig stilgestaan bij de code en ontwikkeling ervan.</li>
  <li></li>
  <li>Spreker: <span class="limegreen">Tim</span></li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">Infrastructuur als code.</span></li>
  <li></li>
  <li>In deze sessie laat Eelco Koster, werkzaam als Lead Azure consultant bij Ordina,</li>
  <li>zien hoe met ARM een programmeerbare infrastructuur gecreëerd kan worden.</li>
  <li>Het idee van infrastructuur als code gaat over het omgaan met systemen</li>
  <li>waarop software draait alsof ze zelf software zijn.</li>
  <li>Met de komst van Azure Resource Manager (ARM) wordt deze techniek</li>
  <li>toegankelijk voor heel veel projecten.</li>
  <li>In deze sessie wordt uitgelegd wat ARM mogelijk maakt en hoe je ARM kunt gebruiken om</li>
  <li>je Azure resources te beheren (zowel in de public Cloud als Azure Stack)</li>
  <li>en je DevOps workflow te verbeteren.</li>
  <li></li>
  <li>Spreker: <span class="limegreen">Eelco Koster</span></li>
  <li></li>
</ul>
<hr>

<ul class="comment-block">
  <li><span class="orange">Microsoft is not your enemy.</span></li>
  <li></li>
  <li>Wat beweegt Wouter, een echte Microsoft ontwikkelaar,</li>
  <li>om opeens een Mac te gaan gebruiken,</li>
  <li>Linux te leren en zich te verdiepen in Java?</li>
  <li>Verlaat hij eindelijk het zinkende schip en</li>
  <li>gaat hij wat nuttigs doen met zijn tijd?</li>
  <li>Of zou hier een ander verhaal achter zitten?</li>
  <li>Deze sessie is voor jou als je wilt weten wat de</li>
  <li>nieuwe strategie is van Microsoft en wat dat voor jou als ontwikkelaar,</li>
  <li>ongeacht je achtergrond, betekent.</li>
  <li></li>
  <li>Spreker: <span class="limegreen">Wouter</span></li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">KumuluzEE - developing microservices using Java EE technologies.</span></li>
  <li></li>
  <li>KumuluzEE is een lichtgewicht framework om microservices mee</li>
  <li>te bouwen die gebruik maken van standaard JavaEE technologie.</li>
  <li>Kunnen we gebruikmakend van standaard JavaEE technologie</li>
  <li>op een eenvoudige manier microservices maken?</li>
  <li>Hebben we altijd een full fletched JavaEE Applicatie server nodig?</li>
  <li>In deze sessie zal ik laten zien hoe we beginnende</li>
  <li>met standaard Java Web Applicatie met een REST service</li>
  <li>gebruikmakend van KumuluzEE een lichtgewicht applicatie kunnen maken</li>
  <li>die we eenvoudig op een Docker instantie kunnen zetten.</li>
  <li></li>
  <li>Spreker: <span class="limegreen">Philippe</span></li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">Native script with AngularJS 2.</span></li>
  <li></li>
  <li>NativeScript is een gratis, open-source runtime om native apps te bouwen</li>
  <li>met bekende tools zoals AngularJS2, JavaScript/TypeScript, CSS en NPM.</li>
  <li>NativeScript rendert echte native gebruikersinterfaces waarmee jij</li>
  <li>je gebruikers de beste beleving kan bieden.</li>
  <li></li>
  <li>Spreker: <span class="limegreen">Peter</span></li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">Microservices.</span></li>
  <li></li>
  <li>Spreker: <span class="limegreen">Andreas</span></li>
  <li></li>
</ul>
