<header ng-controller="ContactCtrl">
  <ul class="comment-block">
    <li><span class="orange">Contact</span></li>
    <li>Heb je een vraag of opmerking? Laat het ons weten!</li>
    <li>Stuur een e-mail naar <span class="limegreen">codeandcomedy@ordina.nl</span></li>
    <li></li>
  </ul>
</header>


<ul class="comment-block">
  <li><span class="orange">Locatie:</span></li>
  <li>Ordina</li>
  <li>Ringwade 1</li>
  <li>3439LM Nieuwegein</li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">Parkeren:</span></li>
  <li>Bezoekers dienen te parkeren op het zogeheten 'veldje'.</li>
  <li>Volg zodra je op de Ringwade rijdt de borden met <span class="limegreen">P1</span>.</li>
  <li>Vervolgens kom je bij een parkeerveld uit. Een beveiliger</li>
  <li>zal de slagboom voor je open doen zodat je de auto veilig kan parkeren</li>
  <li>op het veld.</li>
  <li></li>
</ul>
