<header>
  <ul class="comment-block">
    <li><span class="orange">Veel gestelde vragen</span></li>
    <li></li>
  </ul>
</header>

<ul class="comment-block">
  <li><span class="orange">Wat kost toegang tot het evenement?</span></li>
  <li>Er zijn geen kosten verbinden aan het evenement.</li>
  <li>Het evenement is geheel gratis.</li>
  <li>Let op! Er is een beperkt aantal plaatsen,</li>
  <li>dus schrijf je snel in!</li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">Hoe kan ik een ticket boeken?</span></li>
  <li>Ga naar <a ui-sref="tickets">tickets</a> en registreer jezelf gratis.</li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">Ik zou graag naar het evenement komen, maar door</span></li>
  <li><span class="orange">omstandigheden kan ik er pas later zijn.</span></li>
  <li><span class="orange">Kan ik dan nog komen?</span></li>
  <li>Ja, het is mogelijk om later binnen te lopen</li>
  <li>op het evenement.</li>
  <li>Natuurlijk is het wel toffer </li>
  <li>als je er vanaf het begin bij bent!</li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">Moet ik iets meenemen naar het evenement?</span></li>
  <li>Als je iets mee dient te nemen naar het evenement, vermelden</li>
  <li>we dat in een persoonlijke e-mail.</li>
  <li>In principe hoef je alleen jezelf, wat code skills</li>
  <li>en een goed humeur mee te nemen.</li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">Wanneer vindt het evenement plaats?</span></li>
  <li>Het evenement vindt plaats op woensdagavond 8 februari 2017.</li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">Ik heb geen bevestigingsmail ontvangen, wat nu?</span></li>
  <li>Als je binnen 24 uur geen bevestigingsmail hebt ontvangen.</li>
  <li>mail dan naar <span class="limegreen">codeandcomedy@ordina.nl</span>.</li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">Ik heb problemen met de website. Waar kan ik hulp krijgen?</span></li>
  <li>Voor vragen over je aanmelding of de website kun je</li>
  <li>een mail sturen naar <span class="limegreen">codeandcomedy@ordina.nl</span>.</li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">Waar wordt het evenement gehouden?</span></li>
  <li>Code & Comedy wordt gehouden op het hoofdkantoor</li>
  <li>van Ordina te Nieuwegein</li>
  <li></li>
  <li>Ordina</li>
  <li>Ringwade 1</li>
  <li>3439LM Nieuwegein</li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">Hoe kan ik me afmelden voor het evenement?</span></li>
  <li>Stuur s.v.p. een e-mail naar <span class="limegreen">codeandcomedy@ordina.nl</span></li>
  <li>met als onderwerp 'afmelding'.</li>
  <li></li>
</ul>
<hr>
<ul class="comment-block">
  <li><span class="orange">Wat betekenen de levels?</span></li>
  <li>Level 1: Introductie</li>
  <li>Level 2: Gemiddeld</li>
  <li>Level 3: Gevorderd</li>
  <li>De break-out sessies zullen spoedig voorzien worden</li>
  <li>van levels.</li>
  <li></li>
</ul>
<hr>
