<header>
  <p class="code comment">
    /*<br>
    &nbsp;*<span class="hidden-xs">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;___&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;___<br>
    &nbsp;*<span class="hidden-xs">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;/&nbsp;__\___&nbsp;&nbsp;&nbsp;__|&nbsp;|&nbsp;___&nbsp;&nbsp;&nbsp;(&nbsp;_&nbsp;)<br>
    &nbsp;*<span class="hidden-xs">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;/&nbsp;/&nbsp;&nbsp;/&nbsp;_&nbsp;\&nbsp;/&nbsp;_`&nbsp;|/&nbsp;_&nbsp;\&nbsp;&nbsp;/&nbsp;_&nbsp;\/\<br>
    &nbsp;*<span class="hidden-xs">&nbsp;&nbsp;&nbsp;&nbsp;</span>/&nbsp;/__|&nbsp;(_)&nbsp;|&nbsp;(_|&nbsp;|&nbsp;&nbsp;__/&nbsp;|&nbsp;(_&gt;&nbsp;&nbsp;&lt;<br>
    &nbsp;*<span class="hidden-xs">&nbsp;&nbsp;&nbsp;&nbsp;</span>\____/\___/&nbsp;\__,_|\___|&nbsp;&nbsp;\___/\/<br>
    &nbsp;*<span class="hidden-xs">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;___&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_<br>
    &nbsp;*<span class="hidden-xs">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;/&nbsp;__\___&nbsp;&nbsp;_&nbsp;__&nbsp;___&nbsp;&nbsp;&nbsp;___&nbsp;&nbsp;__|&nbsp;|_&nbsp;&nbsp;&nbsp;_<br>
    &nbsp;*<span class="hidden-xs">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;/&nbsp;/&nbsp;&nbsp;/&nbsp;_&nbsp;\|&nbsp;'_&nbsp;`&nbsp;_&nbsp;\&nbsp;/&nbsp;_&nbsp;\/&nbsp;_`&nbsp;|&nbsp;|&nbsp;|&nbsp;|<br>
    &nbsp;*<span class="hidden-xs">&nbsp;&nbsp;&nbsp;&nbsp;</span>/&nbsp;/__|&nbsp;(_)&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;&nbsp;__/&nbsp;(_|&nbsp;|&nbsp;|_|&nbsp;|<br>
    &nbsp;*<span class="hidden-xs">&nbsp;&nbsp;&nbsp;&nbsp;</span>\____/\___/|_|&nbsp;|_|&nbsp;|_|\___|\__,_|\__,&nbsp;|<br>
    &nbsp;*<span class="hidden-xs">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|___/<br>
    &nbsp;* Are you a driven software engineer and curious about<br>
    &nbsp;* Ordina's vision on the area of software development?<br>
    &nbsp;* Do you want to be taught, entertained and inspired?<br>
    &nbsp;* <a ui-sref="register">Register now</a> because you don't want to miss this!<br>
    &nbsp;* We are looking forward to meeting you on<br>
    &nbsp;* <span class="blue">Tuesday November 17th at our main office</span>.<br>
    &nbsp;*<br>
    &nbsp;* Powered by: <a href="http://www.ordina.nl" target="_blank" class="orange">Ordina</a><br>
    &nbsp;*/

  </p>
</header>
<div class="schedule">
  <p class="code">
    <span class="limegreen">#Code-And-Comedy</span><span class="white">{</span><br>
    &nbsp;&nbsp;<span class="blue">location</span><span class="white">:</span><span class="yellow">&nbsp;"Ringwade 1, Nieuwegein"</span><span class="white">;</span><br>
    &nbsp;&nbsp;<span class="blue">16:00</span><span class="white">:</span><span class="yellow">&nbsp;&nbsp;&nbsp;&nbsp;"Reception with drink and bite"</span><span class="white">;</span><br>
    &nbsp;&nbsp;<span class="blue">17:15</span><span class="white">:</span><span class="yellow">&nbsp;&nbsp;&nbsp;&nbsp;"Break-out sessions: Java, Smart and <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Microsoft Solutions"</span><span class="white">;</span><br>
    &nbsp;&nbsp;<span class="blue">18:25</span><span class="white">:</span><span class="yellow">&nbsp;&nbsp;&nbsp;&nbsp;"Walking dinner and fair"</span><span class="white">;</span><br>
    &nbsp;&nbsp;<span class="blue">19:30</span><span class="white">:</span><span class="yellow">&nbsp;&nbsp;&nbsp;&nbsp;"Code by Kevin Henley"</span><span class="white">;</span><br>
    &nbsp;&nbsp;<span class="blue">20:50</span><span class="white">:</span><span class="yellow">&nbsp;&nbsp;&nbsp;&nbsp;"Comedy by<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Soula Notos & Andy Valvur"</span><span class="white">;</span><br>
    &nbsp;&nbsp;<span class="blue">21:25</span><span class="white">:</span><span class="yellow">&nbsp;&nbsp;&nbsp;&nbsp;"Finale & drinks"</span><span class="white">;</span><br>
    <span class="white">}</span>
  </p>
</div>

