<header>
  <p class="code comment">
    /* Are you a driven software engineer and curious about Ordina's vision on the<br>
    &nbsp;* area of software development? Do you want to be taught, entertained and inspired?<br>
    &nbsp;* <a ui-sref="register">Register now</a> because you don't want to miss this!<br>
    &nbsp;* We are looking forward to meeting you on Tuesday November 17th at our main office.<br>
    &nbsp;*/
  </p>
</header>
<div class="schedule">
  <p class="code">
    <span class="limegreen">#Code-And-Comedy</span><span class="white">{</span><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="blue">location</span><span class="white">:</span><span class="yellow">&nbsp;"Ringwade 1, Nieuwegein"</span><span class="white">;</span><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="blue">16:00</span><span class="white">:</span><span class="yellow">&nbsp;&nbsp;&nbsp;&nbsp;"Reception with drink and bite"</span><span class="white">;</span><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="blue">17:15</span><span class="white">:</span><span class="yellow">&nbsp;&nbsp;&nbsp;&nbsp;"Break-out sessions: Java, Smart and Microsoft Solutions"</span><span class="white">;</span><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="blue">18:25</span><span class="white">:</span><span class="yellow">&nbsp;&nbsp;&nbsp;&nbsp;"Walking dinner and fair"</span><span class="white">;</span><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="blue">19:30</span><span class="white">:</span><span class="yellow">&nbsp;&nbsp;&nbsp;&nbsp;"Code by Kevin Henley"</span><span class="white">;</span><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="blue">20:50</span><span class="white">:</span><span class="yellow">&nbsp;&nbsp;&nbsp;&nbsp;"Comedy by Soula Notos & Andy Valvur"</span><span class="white">;</span><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="blue">21:25</span><span class="white">:</span><span class="yellow">&nbsp;&nbsp;&nbsp;&nbsp;"Finale & drinks"</span><span class="white">;</span><br>
    <span class="white">}</span>
  </p>
</div>
