<header ng-controller="NewsCtrl">
  <ul class="comment-block">
    <li><span class="orange">Nieuws</span></li>
    <li></li>
  </ul>
</header>

<ul class="comment-block">
  <li><span class="orange">Foodtrucks and many more... </span></li>
<li>Trek een warme jas aan want er komt een heus foodtruck</li>
  <li>mini festivalletje....</li>
  <li></li>
  <li></li>
</ul>

<ul class="comment-block">
  <li><span class="orange">Infrastructuur als code wordt 'Give Your Apps a Human Side - Microsoft Cognitive Services'</span></li>
<li>In deze sessie maak je kennis met een selectie</li>
  <li>uit de 20+ verschillende Cognitive Service API's,</li>
  <li>zoals object herkenning, gezichtsdetectie en identificatie,</li>
  <li>emotie herkenning, OCR, computer vision, spraakherkenning</li>
  <li>en taal interpretatie.</li>
  <li>Aan de hand van een een aantal demo's laten we je de </li>
  <li> mogelijkheden zien en ervaar je hoe makkelijk je</li>
  <li>deze services zelf kan gebruiken.</li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<ul class="comment-block">
  <li><span class="orange">IDDD Workshop Vaugh Vernon</span></li>
  <li>Vaughn Vernon geeft <a href="https://www.eventbrite.com/e/iddd-workshop-netherlands-registration-29342908429">IDDD workshop</a> 6 en 7 februari</li>
  <li>te Nieuwegein!</li>
  <li></li>
</ul>
