<header ng-controller="ProgramCtrl">
  <ul class="comment-block">
    <li><span class="orange">Programma Code & Comedy 2017</span></li>
    <li></li>
    <li>Op 8 februari 2017 organiseert Ordina Software Development het </li>
    <li>evenement Code & Comedy. Het doel van dit event is het delen</li>
    <li>van kennis tussen ontwikkelaars, Microsoft, Java, Scala, Cloud, IoT</li>
    <li>en DevOps enthousiastelingen. Vorig jaar bezochten 160 deelne-</li>
    <li>mers het hoofdkantoor van Ordina om te leren, inspireren en te</li>
    <li>praten over de nieuwste technologische trends en ontwikkelingen. </li>
    <li>Dit jaar verwachten we meer dan 200 bezoekers.</li>
    <li></li>
    <li>Het toffe aan dit evenement is dat het gratis is en dat alleen</li>
    <li>ontwikkelaars worden uitgenodigd.</li>
    <li>Eten en drinken is geregeld.</li>
    <li></li>
  </ul>

  <ul class="comment-block">
    <li><span class="orange">Tijdschema Programma Code & Comedy*</span></li>
    <li></li>
    <li><span class="limegreen">17:00&nbsp;&nbsp;</span>Ontvangst, registratie, welkomstdrankje en eten</li>
    <li><span class="limegreen">18:00&nbsp;&nbsp;</span>Opening Centrale Hal</li>
    <li><span class="limegreen">18:10&nbsp;&nbsp;</span>Break-out sessie #1</li>
    <li><span class="limegreen">18:45&nbsp;&nbsp;</span>Pauze</li>
    <li><span class="limegreen">19:00&nbsp;&nbsp;</span>Spreker Vaughn Vernon</li>
    <li><span class="limegreen">19:50&nbsp;&nbsp;</span>Pauze</li>
    <li><span class="limegreen">20:00&nbsp;&nbsp;</span>Break-out sessie #2</li>
    <li><span class="limegreen">20:35&nbsp;&nbsp;</span>Spreker Arun Gupta</li>
    <li><span class="limegreen">21:30&nbsp;&nbsp;</span>Cabaratier René van Meurs</li>
    <li><span class="limegreen">22:00&nbsp;&nbsp;</span>Drinks, bites, music</li>
    <li></li>
    <li><small>*Schema onder voorbehoud.</small></li>
    <li></li>
  </ul>
</header>
