<header>
  <ul class="comment-block">
    <li>Register below by either clicking the button or entering</li>
    <li>either of the two registration commands and receive</li>
    <li>your ticket to Code & Comedy or <a ui-sref="main">return</a> to the previous page.</li>
    <li>&nbsp;</li>
  </ul>
  <div class="center-children">
    <span class="btn btn-default"
          ng-click="ezRegistration()"
          ng-show="!ez"
          data-toggle="tooltip"
          title="Click here to start the interactive registration automatically">
      <span ng-show="registrationComplete">Register someone else</span>
      <span ng-show="!registrationComplete">Register now</span>
    </span>
  </div>
</header>
<div ng-controller="ConsoleCtrl" class="console">
  <form class="hidden" df-form-commit action="https://go.pardot.com/l/83122/2016-11-23/6k58pq" method="post" name="phoneyCommit">
    <input name="Voornaam" ng-model="name">
    <input name="Achternaam" ng-model="lastname">
    <input name="email" ng-model="email">
    <input name="Interesse" value="Java">
    <input name="Voorkeur" value="Apps">
    <input name="function" ng-model="funct">
    <input name="company" ng-model="company">
    <input type="submit">
  </form>
  <terminal> </terminal>
</div>
