<header>
  <ul class="comment-block speaker-header">
    <li>
      <img class="speaker-img" src="../images/vaughn.png" />
      <span class="orange">Vaughn Vernon</span>
      <a class="no-hover" href="https://www.linkedin.com/in/vaughnvernon" target="_blank">
        <img class="twitter" src="../images/twitter-128.png" />
      </a>
    </li>
    <li>Vaughn Vernon is a veteran software craftsman and thought leader in simplifying software design</li>
    <li>and implementation. He has been programming with object-oriented languages since the 1980s and applying</li>
    <li> the tenets of Domain-Driven Design since his Smalltalk domain modeling days in the early 1990s.</li>
    <li> He consults and speaks internationally, and has taught</li>
    <li> his Implementing Domain-Driven Design classes on multiple continents.</li>
    <li></li>
    <li>Vaughn is an experienced instructor and speaker, teaching his IDDDWorkshop (.com) globally,</li>
    <li> and presented at conferences: ScalaDays (NYC & Berlin), DDD eXchange (London & NYC),</li>
    <li> DDD Europe (2016), Øredev (Sweden), Booster Conf (Norway), Software Architecture Summit (Berlin),</li>
    <li> SpringOne 2gx, QCon SF, UberConf, CodeStock, PulsoConf (Bogota, Colombia), IASA ITARC, Microsoft TechEd.</li>
    <li></li>
  </ul>

  <ul class="comment-block speaker-header">
    <li>
      <img class="speaker-img" src="../images/arun.png" />
      <span class="orange">Arun Gupta</span>
      <a class="no-hover" href="https://twitter.com/arungupta" target="_blank">
        <img class="twitter" src="../images/twitter-128.png" />
      </a>
    </li>
    <li>Arun Gupta is the vice president of developer advocacy at Couchbase. He has been building </li>
    <li>developer communities for 10+ years at Sun, Oracle, and Red Hat. He has deep expertise in </li>
    <li>leading cross-functional teams to develop and execute strategy, planning and execution of content, </li>
    <li>marketing campaigns, and programs. Prior to that he led engineering teams at Sun and </li>
    <li>is a founding member of the Java EE team.</li>
    <li></li>
    <li>Gupta has authored more than 2,000 blog posts on technology. He has extensive speaking </li>
    <li>experience in more than 40 countries on myriad topics and is a JavaOne Rock Star. </li>
    <li>Gupta also founded the Devoxx4Kids chapter in the US and continues to</li>
    <li>promote technology education among children.</li>
    <li>An author of a best-selling book, an avid runner, a globe trotter, a Java Champion, and a JUG leader, </li>
    <li>he is easily accessible at @arungupta.</li>
    <li></li>
  </ul>
</header>
